html, body{width:100%; margin:0; padding:0;}

.upload-div{
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 3px;
  padding-top: 3px;
  border-top: 3px solid #aaaaaa;
}

.center{
      margin-left: auto;
  margin-right: auto;
    width: auto;
    padding: 10px;
}

.fa {
    font-size: 2em !important;
}

h1, h2 {
  text-align: center;
}

button#btn {
  background: #3AAAFF;
}
button#btn1 {
  background: #33D594;
}
button#btn2 {
  background: #E5564E;
}
button#btn3 {
    background: #FFBB00;
    color: yellow;
}
#testy {
  position: fixed;
  top: 400px;
  right: 20px;
}
#buttons {
  width: 620px;
  height: 50px;
  margin: 50px auto;
}
.centered-form{
  margin-top: 60px;
}

.centered-form .panel{
  background: rgba(255, 255, 255, 0.8);
  box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}

label.label-floatlabel {
    font-weight: bold;
    color: #46b8da;
    font-size: 11px;
}